.menu {
    background-color: #8b1a2a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding-right: 10vw;
    padding-left: 10vw;
}

.login {
    display: flex;
    width: 178px;
    height: 51px;
    padding: 6px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #FFF;
    color: #7A162F;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
