dialog {
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(44, 0, 106); 
    width: 600px;
    color: #FFFFFF;
}

.ModalContainer {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: -10px;

}

.headerLogo > img{

    width: 100px;
}

header .buttonClose {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    
}

header .buttonConcluir {
    border-radius: 10px;
    border: none;
    width: 160px;
    height: 32px;
    margin-right: 20px;
    background-color: rgb(211, 74, 244);
    color: #FFFFFF;
    cursor: pointer;
    
}

#produtoForm {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

form .LadoEsquerdo{
    margin-left: 15px;
}

form .LadoDireito {
    margin-right: 15px;
}

.FormProduto > label, .FormQuantidade > label, .FormPreco > label, .FormImagem > label {
    margin-bottom: 10px; 
    font-size: 18px;
}

.FormProduto, .FormQuantidade, .FormPreco {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.FormProduto > input, .FormQuantidade > input, .FormPreco > input {
    height: 28px;
    width: 100%;
}

.FormTipo > div {
    margin-bottom: 5px;
}

input[type="checkbox"] {
    accent-color: rgb(252, 103, 29); 
}


.LadoEsquerdo .alerta {
    color: red;
    font-size: 14px;
    visibility: hidden;
}

.LadoEsquerdo .alerta .error {
    visibility: visible;
}


.UploadBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-top: 15px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    color: #666;
    text-align: center;
}

.UploadBox:hover {
    background-color: #ececec;
}

input[type="file"] {
    display: none;
}
