body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.ContainerTodo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 100px;
}

.carrinho-scroll {
  width: 550px;
  max-height: 300px; 
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 10px;
}

.carrinho-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 500px;
}

.item-carrinho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
}

.produto-img {
  width: 120px;
  height: auto;
  margin-right: 20px;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info p {
  font-size: 20px;
  color: #86001b;
}

.quantidade {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menos,
.mais {
  background-color: #b3002d;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
}

.lixeira {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #888;
}

.resumo-container {
  width: 400px;
  height: auto;
  background-color: #86001b;
  border-radius: 20px;
  padding: 30px;
  margin: 40px 0 40px 0;
  color: white;
  
}

.resumo-container h3 {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 10px;
  font-size: 20px;
}

.resumo-container input {
  width: 95%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  font-size: 20px;
  color: #666;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
  font-size: 20px;
}

.linha {
  border-top: 1px dashed #ccc;
  margin: 12px 0;
}

.checkout-btn {
  width: 100%;
  background-color: limegreen;
  color: white;
  border: none;
  padding: 12px;
  font-size: 22px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.checkout-btn:hover {
  background-color: #28a745;
}